.textAnimate {
  position: relative;
  font-size: 2em;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: transparent;
  cursor: pointer;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
}

.textAnimate::before {
  content: attr(datatype);
  position: absolute;
  color: rgb(164, 86, 86);
  width: 0%;
  overflow: hidden;
  transition: 500ms;
  border-right: 4px solid rgb(164, 86, 86);
}

.textAnimate:hover::before {
  /* margin-left: 23px; */
  width: 100%;
  -webkit-text-stroke: 1px rgb(164, 86, 86);
  color: rgb(164, 86, 86);
  filter: drop-shadow(0 0 25px rgb(164, 86, 86));
}
