.wavetitle {
  color: transparent;
  -webkit-text-stroke: 2px rgb(179, 179, 179);
  font-size: 3em;
  font-weight: 600;
}
.wavetitle::before {
  position: absolute;
  top: 0;
  left: 0;
  content: 'About me';
  color: rgb(5, 128, 221);
  font-weight: 600;
  animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 65%,
      13% 59%,
      26% 53%,
      42% 50%,
      59% 54%,
      74% 59%,
      87% 63%,
      100% 64%,
      99% 99%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0 64%,
      14% 65%,
      30% 62%,
      46% 55%,
      64% 48%,
      75% 50%,
      89% 56%,
      100% 64%,
      99% 99%,
      0% 100%
    );
  }
}
.arrow_border {
  animation: rotate_border 5s linear infinite;
}
@keyframes rotate_border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.textAnimate {
  display: inline-block;
  background: linear-gradient(90deg, #c85c5c, #a75050),
    linear-gradient(90deg, rgb(191, 189, 189), rgb(191, 189, 189));
  background-repeat: no-repeat;
  background-position: 100% 100%, 100% 100%;
  color: transparent;
  background-clip: text;
  opacity: 0;
}

.imgAnimate {
  position: absolute;
  right: 16px;
  top: -66px;
  border-radius: 12px;
}
.imgBanner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  width: 400px;
  height: 250px;
  perspective: 500px;
  transform-style: preserve-3d;
  border-radius: 12px;
}
.imgBlock {
  position: relative;
  display: block;
  width: 100px;
  height: 50px;
  transform: translateZ(1000px);
  background-size: cover;
  background-attachment: fixed;
  animation: bgAnimate 1.5s ease-in-out forwards;
}

@keyframes bgAnimate {
  0% {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: translateZ(0px);
  }
}
