.glass {
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
}

.glass:hover {
  transform: translateY(-20px);
}

.glass::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(45deg) translateX(100px);
  transition: 0.5s;
}

.glass:hover::before {
  transform: skewX(45deg) translateX(-100px);
}
