.wavetitle {
  color: transparent;
  -webkit-text-stroke: 2px rgb(176, 146, 146);
  font-size: 3em;
  font-weight: 600;
}
.wavetitle::before {
  position: absolute;
  top: 0;
  left: 0;
  content: 'About me';
  color: rgb(180, 116, 48);
  font-weight: 600;
  animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 65%,
      13% 59%,
      26% 53%,
      42% 50%,
      59% 54%,
      74% 59%,
      87% 63%,
      100% 64%,
      99% 99%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0 64%,
      14% 65%,
      30% 62%,
      46% 55%,
      64% 48%,
      75% 50%,
      89% 56%,
      100% 64%,
      99% 99%,
      0% 100%
    );
  }
}

.arrow_border {
  animation: rotate_border 5s linear infinite;
}
@keyframes rotate_border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
